{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 
<!-- End Banner Slider -->
<div class="slider-area">
  <!-- Slider -->
  <div class="block-slider block-slider4">
      <ul class="" id="bxslider-home4">
          <li>
              <img src="{% static 'images/banner/b13.png' %}" alt="Slide">
              <div class="caption-group">
                  <h2 class="caption title">
                      Mens <span class="primary">and <strong>Female</strong></span>
                  </h2>
                  <h4 class="caption subtitle">shirts & blouses</h4>
                  <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
              </div>
          </li>
          <li><img src="{% static 'images/banner/b6.png' %}" alt="Slide">
              <div class="caption-group">
                  <h2 class="caption title">
                      by one, get one <span class="primary">50% <strong>off</strong></span>
                  </h2>
                  <h4 class="caption subtitle">school supplies & backpacks.*</h4>
                  <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
              </div>
          </li>
          <li><img src="{% static 'images/banner/b12.png' %}" alt="Slide">
              <div class="caption-group">
                  <h2 class="caption title">
                      Apple <span class="primary">Store <strong>Ipod</strong></span>
                  </h2>
                  <h4 class="caption subtitle">Select Item</h4>
                  <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
              </div>
          </li>
          <li><img src="{% static 'images/banner/b5.png' %}" alt="Slide">
              <div class="caption-group">
                <h2 class="caption title">
                      Both <span class="primary">Size <strong>Blouces</strong></span>
                  </h2>
                  <h4 class="caption subtitle">& Clothes</h4>
                  <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
              </div>
          </li>
      </ul>
  </div>
  <!-- ./Slider -->
</div> <!-- End slider area -->

{% endblock banner_slider %}

{% block livesale %}
<!-- Live Sale Section -->
<div class="container-fluid">
  <div id="livesale" class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>SALE IS LIVE 24/7</h1>
    <span>5% Instant Discount on Axis Bank Credit and Debit Card</span>
    <small class="fw-lighter">Term and Condition Applied (For details visit StratonShop's official Website)</small>
  </div>
</div> 
<br><br>
<div class="container">
  <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="single-promo promo1">
              <i class="fa fa-refresh"></i>
              <p>30 Days return</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="single-promo promo2">
              <i class="fa fa-truck"></i>
              <p>Free shipping</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="single-promo promo3">
              <i class="fa fa-lock"></i>
              <p>Secure payments</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="single-promo promo4">
              <i class="fa fa-gift"></i>
              <p>New products</p>
          </div>
      </div>
  </div>
</div>
<!-- End Live Sale Section -->
{% endblock livesale %}

{% block main-content %}

<!-- Payment Info Section -->
<div class="container my-5">
  <h2 class="catageries text-center"><span class="px-2" id="catag2">CATEGORIES</span></h2>
 <div class="row">
  <div class="col-sm-4 col-4">
   <a href="{% url 'bottomwear' %}" class="text-decoration-none">
    <div class="card mb-3" style="border-color: #104b55cc;">
      <div class="card-body text-center d-grid gap-2">
       <img src="{% static 'images/payavail/cat1.jpg' %}" alt="" srcset="" class="img-fluid">
       <span class="text-dark font-weight-bold">Fashions</span>
      </div>
    </div>
   </a>
  </div>
  <div class="col-sm-4 col-4">
   <a href="{% url 'laptop' %}" class="text-decoration-none">
    <div class="card mb-3" style="border-color: #7d9875;">
      <div class="card-body text-center d-grid gap-2">
       <img src="{% static 'images/payavail/cat2.jpg' %}" alt="" srcset="" class="img-fluid">
       <span class="text-dark font-weight-bold">Laptops</span>
      </div>
    </div>
   </a>
  </div>
  <div class="col-sm-4 col-4">
   <a href="{% url 'mobile' %}" class="text-decoration-none">
    <div class="card mb-3" style="border-color: #7d07d0e8;">
      <div class="card-body text-center d-grid gap-2">
       <img src="{% static 'images/payavail/cat3.jpg' %}" alt="" srcset="" class="img-fluid">
       <span class="text-dark font-weight-bold">Mobiles</span>
      </div>
    </div>
   </a>
  </div>
 </div>
</div>
<!-- End Payment Info Section -->



{% endblock main-content %}

